.header{
    height:6.5rem;
    box-shadow:0 2px 4px 0 black;
    .wrap{
        max-width: 1450px;
        margin:0;
    }
   .item{
    position: relative;
    top: 12px;
    left: 20px;
   }
   
}
